/* 
Created on : 14 mars 2018, 11:33:28
Author     : sio1
*/

body {
    font-family: Lato, Arial;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1) inset;
    text-align: center;
    background-color: #849697;
}

p {
    color: rgb(40, 40, 40);
    text-shadow: 0px 0px 1px rgba(50, 50, 50, 0.1);
    font-size: 17px;
}

header {
    margin: 0;
    padding: 0;
    background-color: rgb(63, 74, 82);
}

nav {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(63, 74, 82);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    width: auto;
}

nav ul li {
    display: inline-block;
    position: relative;
    width: calc(100% / 8);
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 0;
    margin: 0;
}

nav ul li:last-child {
    border: none;
}


/* nav ul li:hover {
    background-color: rgb(192,57,43);
    color: white;
} */

nav a {
    text-decoration: none;
    display: block;
    color: white;
    transition: all ease-in-out 200ms;
}

nav a:hover {
    background-color: lightgray;
    color: rgb(66, 108, 164);
}

nav a#co {
    color: greenyellow;
}

nav a#deco {
    color: red;
}

#slider {
    overflow: hidden;
    -moz-box-shadow: 0px 2px 13px 0px #656565;
    -webkit-box-shadow: 0px 2px 13px 0px #656565;
    -o-box-shadow: 0px 2px 13px 0px #656565;
    box-shadow: 0px 2px 13px 0px #656565;
    max-height: 250px;
    /* filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=13); */
}

#slider figure img {
    width: 20%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
    max-height: 240px;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#intro {
    color: rgb(40, 40, 40);
    text-shadow: 0px 0px 1px rgba(50, 50, 50, 0.1);
    font-size: 17px;
    margin: auto;
    width: 50%;
}

#titre {
    margin: auto;
    width: 50%;
    font-size: 35px;
    font-family: cursive;
}

#partie {
    margin: auto;
    width: 40%;
    text-decoration: blink;
    font-family: cursive;
    font-size: 20px;
}

#pdp img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 5px;
}

.conteneur {
    margin-left: 5%;
    margin-right: 5%;
}

#conteneurlog {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.navbarstyle a {
    text-decoration: none;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}